################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/SistemaCompraVenta/.vs
/SistemaCompraVenta/dbCompraVenta/bin
/SistemaCompraVenta/dbCompraVenta/obj
/SistemaCompraVenta/dbCompraVenta/dbCompraVenta.jfm
/SistemaCompraVenta/dbCompraVenta/dbCompraVenta.dbmdl
