################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/SistemaCompraVenta/.vs
/SistemaCompraVenta/dbCompraVenta/bin
/SistemaCompraVenta/dbCompraVenta/obj
/SistemaCompraVenta/dbCompraVenta/dbCompraVenta.jfm
/SistemaCompraVenta/dbCompraVenta/dbCompraVenta.dbmdl
/SistemaCompraVenta/Datos/obj/Debug
/SistemaCompraVenta/Entidades/obj/Debug
/SistemaCompraVenta/Negocios/obj/Debug
/SistemaCompraVenta/SistemaCompraVenta/obj/Debug
/SistemaCompraVenta/Datos/bin/Debug
/SistemaCompraVenta/Entidades/bin/Debug
/SistemaCompraVenta/Negocios/bin/Debug
/SistemaCompraVenta/SistemaCompraVenta/bin/Debug
